{% extends "base.html" %}

{% block head %}
<title>Finance Tracker</title>
{% endblock %}

{% block body %}
<div id="about_me">
    <!-- This section is for my display photo, name, course and summary. -->
    <img id="DisplayPhoto" src="{{ url_for('static', filename='assets/Z5T_0398.jpg') }}" height="200px" width="200px" alt="Formal Photo"/>
    <h1 id="my_name">Emmanuel Darca</h1>
    <p><strong>Computer Engineer</strong></p>
    <p>Python / SQL / Flask / Data Analysis / Data Visualization</p>
    <hr/><br><br>
    
    <!-- This section is for summary. -->
    <h2>About Me:</h2>
    <p>
        Hi, I'm <strong>Emman</strong>. I am a computer engineer with a growing passion for coding in Python. For the past few months, I have continuously 
        improved myself by actively coding, making personal projects, watching tutorials online, and reading through online forums / communities, and reading 
        documentations. My goal is to obtain a steady position in a company that promotes continuous improvement and development that will enhance 
        the skills I already have.
    </p><br>
    
    <!-- This section is for my personal information. -->
    <h2>Personal Information:</h2>
    <table class="PITable">
        <tr>
            <th class="PITable">Nationality:</th>
            <td class="PITable">Filipino:</td>
            <th class="PITable">Contact:</th>
            <td class="PITable">+639369166213</td>
        </tr>
        <tr>
            <th class="PITable">Home Address:</th>
            <td class="PITable">Cavite, Philippines</td>
            <th class="PITable">E-Mail:</th>
            <td class="PITable"><a href="mailto:eman.darca86@gmail.com">eman.darca86@gmail.com</a></td>
        </tr>
    </table><br>

    <!-- This section is for my work experience. -->
    <h2>Work Experience:</h2>
    <div id="inner_div_l1">
        <p><strong>Infineon Technologies - Cavite</strong><br><strong>Equipment Technician</strong> (February 17, 2020 – September 09, 2021)</p>
        <ul>
            <li><strong>Microsoft Excel Analysis and Manipulations</strong> (Machines downtime data):
                <ul>
                    <li>
                        Creating VBA to eliminate the process of manually renaming wrong labels and filtering out data so that it is faster to make a report about it.
                    </li>
                    <li>
                        Using formulas and pivots to help in the analysis of the data.
                    </li>
                    <li>
                        Creating data visualizations to highlight which part of the machine is causing the problem and to replace it as soon as possible.
                    </li>
                </ul>
            </li><br>
            <li><strong>Project – Mold Tool History: Records the purchase date of Mold Tools and the history of cleaning the tools.</strong> (C#.NET and Microsoft SQL):
                <ul>
                    <li>
                        I used C#.NET (Windows Form Application) in Visual Studio Community to create the desktop app.
                    </li>
                    <li>
                        MS SQL was used as the database for the project.
                    </li>
                    <li>
                        Records the purchase date and the dates the tool has been cleaned.
                    </li>
                    <li>
                        Analyze how frequently the tools have to be cleaned based on the recorded data.
                    </li>
                    <li>
                        Make reliable reports to the managers when the tool needs to be replaced.
                    </li>
                </ul>
            </li><br>
            <li>
                Other – Created a Python Script to automatically count a specific word / string present in text files from test machines.
            </li>
        </ul>
    </div><br>

    <!-- This section is for my educational background. -->
    <h2>Education:</h2>
    <div id="inner_div_l1">
        <p><strong>Lyceum of the Philippines University - Cavite</strong></p>
        <ul>
            <li>
                Bachelor of Science in Computer Engineering
            </li>
        </ul>
    </div><br>
    
    <!-- This section is for my projects and skills. -->
    <h2><strong>Skills, Projects, and Certificates:</strong></h2>
    <div id="inner_div_l1">
        <p><strong>Projects:</strong></p>
        <ul>
            <li>Personal: <strong>Web Application – Finance Tracker and Dashboard using Flask, Dash, and SQLite ( May, 2024 )</strong>
                <ul>
                    <li>Flask web framework was use to create the web application.</li>
                    <li>Dash and Plotly are used to configure, generate, and displays the plots for the dashboard.</li>
                    <li>SQLite and Flask-SQLAlchemy was use for the database where the data for the income and expense are stored.</li>
                    <ul>
                        <li>SQLite was used for some functions for which I am more comfortable using traditional SQL queries.</li>
                        <li>Flask-SQLAlchemy was used for ORM - initialize the database at the start, create table and CRUD application.</li>
                    </ul>
                    <li>Pandas are used to load data from the database and apply some data manipulation so that the data is easier to use when making computations and data visualizations.</li>
                    <li>HTML and CSS are used for the structure of the webpage and visual settings respectively.</li>
                    <li>JavaScript and JQuery are used for functions that deals with form submissions and showing and hiding the form for adding a new transaction (income or expense).</li>
                    <li>GitHub link for the project: <a href="https://github.com/xlemnlx/Finance-Dashboard-using-Flask-Dash-SQLite">GitHub Link</a></li>
                </ul>
            </li><br>
            <li>Personal: <strong>Data Scraping and Data Analysis of the TV Game Show “Amazing Saturday” results ( April, 2024 )</strong>
                <ul>
                    <li>Used Python and libraries: Selenium, Webdriver-manager, and Pandas to scrape data from this Wikipedia page: <a href="https://en.wikipedia.org/wiki/List_of_DoReMi_Market_episodes">Wikipedia Link</a></li>
                    <li>Used Pandas to manipulate, clean, and merging of dataframes. While Matplotlib was used to plot the data.</li>
                    <li>GitHub link for the project: <a href="https://github.com/xlemnlx/Data-Scraping-and-Data-Analysis-of-TV-Show-Amazing-Saturday-results">GitHub Link</a></li>
                </ul>
            </li><br>
            <li>Personal: <strong>Data Plotting Tool – Global Air Pollution Dataset ( February, 2024 )</strong>
                <ul>
                    <li>Used Python and libraries: Pandas and Matplotlib to manipulate the dataframe and generate plot according to user’s choices.</li>
                    <li>Saved the generated plot to user’s “Downloads” folder automatically.</li>
                    <li>Dataset is from Kaggle: <a href="https://www.kaggle.com/datasets/hasibalmuzdadid/global-air-pollution-dataset">Kaggle Link</a></li>
                    <li>GitHub link for the project: <a href="https://github.com/xlemnlx/Data-Plotting-Tool-Global-Air-Pollution-Dataset">GitHub Link</a></li>
                </ul>
            </li><br>
            <li>Personal: <strong>Guided Project – Developed a machine learning model using MLPClassifier to automatically detect different exercise types based on sensor data. ( February, 2024 )</strong>
                <ul>
                    <li>The model achieved an accuracy of 99.61% on a dataset of 1,292 samples using MLPClassifier from Scikit-Learn’s neural_network module.</li>
                    <li>Can recognized the five gym exercises: Deadlift, Bench press, Overhead press, Barbell Row, Squat.</li>
                    <li>Analyzed processed accelerometer and gyroscope data from wearable sensors.</li>
                    <li>Pandas library was used to efficiently manage and manipulate sensor data in Dataframes.</li>
                    <li>Utilized Numpy and SciPy libraries for computational tasks, including data analysis, resampling, ang noise reduction.</li>
                    <li>Matplotlib and Seaborn libraries was used to generate informative visualization and gain insights into the data distribution and relationships.</li>
                    <li>GitHub link for the project: <a href="https://github.com/xlemnlx/Fitness-Tracker-Machine-Learning-Guided-Project">GitHub Link</a></li>
                </ul>
            </li><br>
            <li>School Projects: <strong>Log-in / Log-out System</strong> and <strong>Inventory System</strong>
                <ul>
                    <li>Used C#.NET (Windows Form Application) in Visual Studio Community.</li>
                    <li>MS SQL was used as the database for the projects.</li>
                    <li>Arduino Microcontroller was used to control various sensors needed for the projects.</li>
                </ul>
            </li><br>
            <li>School Thesis: <strong>Automated Lift with a PPE Scanner for construction workers.</strong>
                <ul>
                    <li>Used C#.NET (Windows Form Application) in Visual Studio Community.</li>
                    <li>Helping in coding the Arduino Mega 2560 to control multiple relays and read the values of the limit switch and RFID reader.</li>
                    <li>Helping to do our manuscript and journal documentation of our group thesis.</li>
                </ul>
            </li>
        </ul><br>
        <p><strong>Skills and Traits:</strong></p>
        <ul>
            <li>1.5 years of work experience using C#.NET (Windows Form Apps) and Microsoft SQL.</li>
            <br>
            <li>Functional understanding of coding in Python, Jupyter Notebooks for documentations, and Python libraries related to web applications, unit testing, data analysis, and data science:</li>
            <ul>
                <li>Flask, Plotly, Dash, unittest, Pandas, Numpy, SciPy, Matplotlib, and Scikit-Learn.</li>
            </ul>
            <br>
            <li>Functional understanding of using Microsoft SQL and SQLite for making databases, tables, and queries for CRUD applications.</li>
            <br>
            <li>Basic understanding of HTML, CSS, JavaScript, version control using Git, VB.NET, Angular, Next.js, C++, and Java.</li>
            <br>
            <table class="PITable">
                <tr>
                    <td class="PITable"><ul><li>Adept in Microsoft Word, Excel, and PowerPoint.</li></ul></td>
                    <td class="PITable"><ul><li>Good time management</li></ul></td>
                </tr>
                <tr>
                    <td class="PITable"><ul><li>Hardworking</li></ul></td>
                    <td class="PITable"><ul><li>Teamwork</li></ul></td>
                </tr>
                <tr>
                    <td class="PITable"><ul><li>Self-starter</li></ul></td>
                    <td class="PITable"><ul><li>Accountability</li></ul></td>
                </tr>
                <tr>
                    <td class="PITable"><ul><li>Willingness to learn / to be taught</li></ul></td>
                    <td class="PITable"><ul><li>Critical thinking</li></ul></td>
                </tr>
            </table><br>
        </ul><br>
        <p><strong>Certificates and their links:</strong></p>
        <table class="cert_tbl">
            <tr>
                <th>C#</th>
                <th>Python</th>
            </tr>
            <tr>
                <td>
                    <figure>
                        <img src="{{ url_for('static', filename='assets/fcc_foundational_c#_with_microsoft.jpg') }}" height="180px" width="266px" alt="Foundational C# with Microsoft">
                        <figcaption><strong>Foundational C# with Microsoft : November, 2023</strong><br><a href="https://www.freecodecamp.org/certification/xleMnlx/foundational-c-sharp-with-microsoft">Certificate Link</a></figcaption>
                    </figure>
                </td>
                <td>
                    <figure>
                        <img src="{{ url_for('static', filename='assets/fcc_scientific_computing_with_python.jpg') }}" height="180px" width="266px" alt="Scientific Computing with Python Certificate">
                        <figcaption><strong>Scientific Computing with Python: Decemeber, 2023</strong><br><a href="https://www.freecodecamp.org/certification/xleMnlx/scientific-computing-with-python-v7">Certificate Link</a></figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <figure>
                        <img src="{{ url_for('static', filename='assets/fcc_data_analysis_with_python.png') }}" height="180px" width="266px" alt="Data Analysis with Python: April 22, 2024">
                        <figcaption><strong>Data Analysis with Python: April 22, 2024</strong><br><a href="https://www.freecodecamp.org/certification/xleMnlx/data-analysis-with-python-v7">Certificate Link</a></figcaption>
                    </figure>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}